<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Coffee online</title>
</head>
<body>
<h1>Main page</h1>
<ul class="nav-links">
    <li sec:authorize="hasRole('USER')" class="nav-item"><a href="/coffee-online/orders">Orders</a></li>
    <li sec:authorize="hasRole('USER')" class="nav-item"><a href="/coffee-online/new-order">Add order</a></li>
    <li sec:authorize="hasRole('ADMIN')" class="nav-item"><a href="/private-data">Private-data</a></li>
    <li sec:authorize="!isAuthenticated()" class="nav-item"><a href="/login">Login</a></li>
    <li sec:authorize="!isAuthenticated()" class="nav-item"><a href="/registration">Registration</a></li>
    <li sec:authorize="isAuthenticated()" class="nav-item">
        <form class="link" th:action="@{/logout}" method="post">
            <input class="link" type="submit" value="Logout"/>
        </form></li>
</ul>
</body>
</html>